
/**
 * @file
 * Style for Photopost nodes.
 */

.pptodrupal_forum_code {
  display: block;
  clear: both;
  padding-bottom: 20px;
}
.pptodrupal_forum_code label {
  display: inline-block;
  width: 14em;
  text-align: right;
}
.pptodrupal_codes {
  display: inline-block;
  vertical-align: top;
}
.pptodrupal_thumb {
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #CCC;
  margin-right: 10px;
  max-width: 30%;
}
